/* Global Styles */
body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(28, 24, 52);
}

:root {
  --color: white;
  --font-family: "Fredoka", sans-serif;
  --background-color: rgb(43, 37, 78);
}

/* Flex Container */
.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  min-width: 200px;
  height: 500px;
  margin: auto;
  margin-top: 6em;
  padding: 10px;
  overflow: hidden;
}

/* Flex Child Elements */
.caixa > * {
  width: 100%;
  min-width: 200px;
  height: 70px;
}

/* Title */
.caixa > #Titulo:nth-child(1) {
  align-items: center;
  align-content: center;
  margin: 0;
}

h1 {
  color: var(--color);
  width: 100%;
  margin: 0;
  text-align: center;
}

/* Subtitle */
.caixa > .SubTitulo:nth-child(2) {
  width: 100%;
  padding: auto;
  margin: 0;
}

p {
  margin: 2px;
  color: white;
  text-align: center;
}

/* Play Button */
.caixa > .PlayButton:nth-child(3) {
  text-align: center;
}

#PlayButton {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: white;
  padding: 1em 2em;
  border-radius: 30px;
  font-size: 18px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#PlayButton:hover {
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(59, 49, 116);
}

/* Form */
.caixa > .Formulario:nth-child(4) {
  width: 100%;
  margin: 0;
  text-align: center;
}

#Formulario {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color);
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-color: transparent;
  display: none;
  padding: 1em;
  padding-right: 7em;
  border-radius: 30px;
  font-size: 20px;
  cursor: text;
  outline: none;
  animation: transformer 1s;
}

@keyframes transformer {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 470px) {
  #Formulario {
    font-size: 16px;
  }
  @media screen and (max-width: 380px) {
    #Formulario {
      font-size: 16px;
      padding: 1.3em;
    }
  }
}
