body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(28, 24, 52);
}

:root {
  --color: white;
  --font-family: "Fredoka", sans-serif;
  --background-color: rgb(43, 37, 78);
}

.caixa {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 700px;
  margin-top: 8em;
  height: 500px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 3.6em;
}

.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: var(--color);
  margin-top: 0;
  margin-bottom: 0;
  width: 430px;
  text-align: center;
  margin-left: 140px;
  margin-right: 0px;
}

#Titulo {
  text-align: right;
}

#SubTitulo {
  margin-bottom: 4em;
  margin-top: 1.5em;
}

p {
  margin: 2px;
  text-align: center;
  color: white;
}

.PlayButton {
  text-align: center;
}

#PlayButton {
  font-family: var(--font-family);
  padding: 1em;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 18px;
  color: white;
  border-color: transparent;
  background-color: var(--background-color);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#PlayButton:hover {
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(59, 49, 116);
}

#ListButton {
  color: var(--color);
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: fixed;
}

.Formulario {
  text-align: center;
}

#Formulario {
  font-family: var(--font-family);
  padding: 1em;
  margin-top: 3em;
  border-radius: 30px;
  color: var(--color);
  border-color: transparent;
  background-color: var(--background-color);
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: text;
  font-size: 20px;
  padding-right: 7em;
  outline: none;
  animation: transformer 1s;
}

@keyframes transformer {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* Phone site responsive */
@media screen and (max-width: 446px) {
  #Formulario {
    padding-right: 4em;
  }
}

#Formulario {
  border-color: transparent;
  display: none;
}
